name: CI - Integridade e Qualidade

on:
  pull_request:
    branches: [ main ] 

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20] 
    
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: 1. Validar existência do index.html
        run: |
          if [ ! -f index.html ]; then exit 1; fi # Requisito Etapa 1 

      - name: 2. Verificar arquivos > 500KB
        run: |
          LARGE_FILES=$(find . -type f -not -path '*/.*' -size +500k)
          if [ ! -z "$LARGE_FILES" ]; then exit 1; fi # Requisito Etapa 1 

      - name: 3. Varredura de Termos Sensíveis
        run: |
          if grep -rEi "TODO|FIXME|senha|password" . --exclude-dir={.git,.github} --exclude="*.md"; then
            exit 1 # Requisito Etapa 1 
          fi

      - name: 4. Execução do Linter
        run: npx htmlhint "**/*.html" 

      - name: 5. Verificação de Links e Imagens
        uses: lycheeverse/lychee-action@v1.9.0 
        with:
          args: --verbose --no-progress "**/*.html"